<div [@routerTransition]>
  <div id="adminview" *ngIf="user=='admin'">
    <p>Admin Home Page not Implemented</p>
  </div>
  <div id="voterview" *ngIf="user!='admin'">
    <section id="FirstViewID" class="content-header" *ngIf="showBallot==false">
      <div class="container-fluid">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-4" style="padding: 500,500,500,500; ">
            <div class="card">
              <div class="card-body" style="height: 300px;">
                <div class="d-flex justify-content-center"><button id="privacyBtn" type="button" class="btn btn-primary btn-lg" (click)="getRandomNumber()" [disabled]="privacy_code!=''">GENERATE PRIVACY CODE</button></div>
                <div *ngIf="privacy_code!=''">
                <div class="d-flex justify-content-center" style="height: 50px; margin-top: 20px;">Your Privacy Code:</div>
                <div class="d-flex justify-content-center" style="height: 50px;"><h1 id="privacyCodeID">{{privacy_code}}</h1></div>
                <div><p id="noteID">Please note down this code. You will need this code to verify your vote when result will publish</p></div></div>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-4"  style="padding: 500,500,500,500; height:20%; width:20%">
            <div class="card">
              <div class="card-body" style="height: 300px;">
                <div class="d-flex justify-content-center"><button id="votingBtn" type="button" class="btn btn-primary btn-lg" [disabled]="privacy_code==''" (click)="showBallot=true"  style="margin-top: 90px;">START VOTING</button></div>
              </div>
            </div>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </section>
    <section id="SecondViewID" class="content-header" *ngIf="showBallot==true && voted==false">
      <div class="container-fluid">
        <div class="jumbotron">
          <h1 class="display-4">Select the best President ever!</h1>
          <p class="lead">Your vote is confidential.</p>
        </div>
        <div class="row">
        <div class="card col-3" style="margin-left: 10px;" *ngFor="let data of testData">
          <div></div>
          <div class="d-flex justify-content-center"><img class="img-circle" src="{{data.pic}}" alt="Picture not available" style="height: 200px; width: 200px; margin-top: 10px;"></div>
          
          <div class="card-body" style="text-align: center;">
            <h1 class="card-text">{{data.name}}</h1>
            <hr class="my-4">
            <button type="button" class="btn btn-primary btn-lg" (click)=confirmVote(data.name)>Select</button>
          </div>
        </div>
      </div>
      </div>
    </section>
    <section id="SecondViewID" class="content-header" *ngIf="showBallot==true && voted==true">
      <img src="assets/img/confirmed.png" alt="Confirmed" style="height: 100px; width: 100px;">
      <div class="jumbotron">
      <h5>Your privacy code is: {{privacy_code}}</h5>
      <hr class="my-4">
      <h5>You have voted for</h5>
      <h1>{{selectedCandidate}}</h1>
    </div>
    <p>Published result will show your privacy code and the name you voted for. Your name and identity will not be published</p>
    </section>
  </div>
</div>
